.left-panel {
	left: -250px;
	height: 100%;
	width:250px;
	background-color: #F5F5F5;
	transition: left 0.3s ease;
	padding: '10px';
	position: fixed;
	z-index: 900;
	font-family: 'Avenir'
}

.left-panel > * {
	margin-left: 1rem;
}

.title {
	font-size: 1.75em;
	margin-bottom: .625em;
	line-height: 1.4;
}

.text {
	font-size: .9375em;
	margin-bottom: 1.125em;
	line-height: 1.7;
}

.open {
	left: 0px;
}

switch-event {
	display: block;
	margin-left: 2rem !important;
}